// Colors
$subtitle: #b2b7b9;
$tile: #f6f9fb;
$tile-title: #b2b7b9;
$table-border: #e1e4e5;
$table-header: #b2b7b9;
$light-grey: #fdfdfd;
$black: #000;

// Fonts
$text-title-size: 18px;
$text-subtitle-size: 14px;
$text-list-user-id-size: 16px;
$text-details-user-id-size: 20px;
$text-title-title-size: 14px;
$text-tile-size: 20px;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

// Shadows
$base-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);

// Border
$base-border: 1px solid $black;
$table-border: 1px solid $table-border;
$list-heading-border: 2px solid #ccc;
$transparent-border: 1px solid transparent;
$base-border-radius: 4px;
